<!DOCTYPE html>
<html>
  <body>
    <form action="/pushexifdata" method="POST">
      <div>Username: <input type="text" required name="User" /><br /></div>
      <div>
        Latitude:
        <input
          type="number"
          required
          name="Lat"
          step="0.000001"
          onchange="(function(el){el.value=parseFloat(el.value).toFixed(6);})(this)"
        /><br />
      </div>
      <div>
        Longitude:
        <input
          type="number"
          required
          name="Long"
          step="0.000001"
          onchange="(function(el){el.value=parseFloat(el.value).toFixed(6);})(this)"
        /><br />
      </div>
      <input type="submit" value="Send" />
    </form>
  </body>

  <style>
    form {
      margin: 2%;
    }

    div {
      margin: 2% 0;
    }
  </style>
</html>
